/*研修プログラムメニュー*/
[v-cloak] {
  display: none;
}

.leftmenu{
	margin-top: 40px;
}
.leftmenu dl{
	border: 1px solid #b6c9e7;
	border-radius: 8px;
/*	padding: 4px 6px;*/
	-webkit-box-shadow: 0 0px 8px rgba(92, 149, 197, 0.25);
	box-shadow: 0 0px 8px rgba(92, 149, 197, 0.25);
}
.leftmenu dl dt{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
/*	border-bottom: 1px solid #000000;*/
	background-color: #393a69;
	padding: 6px 4px 4px;
	font-size: 16px;
	color: #FFFFFF;
}
.leftmenu dl dt a{
	display: block;
	color: #FFFFFF;
	margin-left: 36px;
	margin-right: 0;
	text-indent: -18px;
}
.leftmenu dl dt .glyphicon, .leftmenu dl dt .fa{
	font-size: 28px;
	margin: 0px 6px 2px 2px;
}
.leftmenu dl dt a span{
	white-space: nowrap;
	margin-right: -4px;
}
.leftmenu dl dt a:hover{
	color: #F0F0FF;
}

.leftmenu dl dd:fitst-child{
	clear: left;
}

.leftmenu dl dd a{
	display: block;
	text-decoration: none;
	border-bottom: 1px dotted #000000;
	padding: 8px 4px 8px 8px;
}
.leftmenu dl dd a span{
	white-space: nowrap;
	margin-right: -4px;
}

.leftmenu dl dd.sub a{
	padding-left: 20px;
	text-indent: -14px;
}
.leftmenu dl dd a:hover{
	text-decoration: none;
	background-color: #ECF0FF;
	border-bottom: 1px dotted #5c95c5;
}
.leftmenu dl dd:last-child a, .leftmenu dl dd:last-child a:hover{
	border-bottom: 0px none;
	padding-bottom: 12px;
}

/*メニュへのお知らせバッジ*/
.leftmenu dl dd a .badge {
	margin-left: 4px;
	position: relative;
	top: -1px;
	background-color: #5c95c5;
}
.leftmenu dl dd a:hover .badge {
	background-color: #FFFFFF;
	color: #5c95c5;
	border-color: #5c95c5;
	border-width: 1px;
}


/*お知らせ*/
.information{
	list-style-type: none;
	padding-left: 0;
	margin-left: 10px;
}
.information .alert {
	padding: 10px;
	margin-bottom: 10px;
	background-image: url(../../img/alert-info.png);
	background-repeat: no-repeat;
	background-position: 6px 8px;
	padding-left: 36px;
}
.information .alert-danger{
	background-image: url(../../img/alert-danger.png);
}
.information .alert-info{
	background-image: url(../../img/alert-info.png);
}

/*お知らせ　20161031　改修版*/
.information2{
	list-style-type: none;
	padding-left: 0;
	border-radius: 12px;
	background-color: #FFFFFF;
	border: 1px ridge #5c95c5;
	padding: 0 6px 4px 10px;
}
.information2 li{
	margin: 0 4px 8px;
	vertical-align: top;
	margin-left: 32px;
	text-indent: -16px;
}
.information2 li a{
	color: #444444;
}
.information2 li .fa, .information2 li .glyphicon{
	font-size: 24px;
	margin: 0px 8px 0px 0;
	display: inline-block;
	position: relative;
	top: 8px;
	color: #5c95c5;
}
.information2 li.important a{
	color: #E03333;
}
.information2 li.important .fa, .information2 li.important .glyphicon{
	color: #E03333;
}

/*アナウンスカラー継承（廃棄）*/
.information2 li.info-info a{
	color: #444444;
}
.information2 li.info-info .fa, .information3 li.info-info .glyphicon{
	color: #5c95c5;
}
.information2 li.info-error a{
	color: #E03333;
}
.information2 li.info-error .fa, .information3 li.info-error .glyphicon{
	color: #E03333;
}
.information2 li.info-alert a{
	color: #CC8000;
}
.information2 li.info-alert .fa, .information3 li.info-alert .glyphicon{
	color: #CC8000;
}
.information2 li.info-confirm a{
	color: #398439;
}
.information2 li.info-confirm .fa, .information3 li.info-confirm .glyphicon{
	color: #398439;
}

/*お知らせがない場合*/
.information2 .no_info{
	text-align: center;
	margin: 6px auto 4px;
	color: #444444;
}

/*
.information3 .alert{
	border: 0px none;
	background-color: transparent;
	margin-bottom: 5px;
	padding: 2px 4px 8px;
	text-indent: -16px;
	margin-left: 32px;
}
.information3 .alert-danger, .information3 .alert-info{
	border: 0px none;
	background-color: none;
	background-image: none;
	background-repeat: repeat-x;
	border-color: #bedb39;
}
.information3 .alert-danger{
	color: #CC3333;
}
.information3 .alert-info{
	color: #3333FF;
}*/
.information3 li .fa, .information3 li .glyphicon{
	font-size: 24px;
	margin: 4px 8px -4px 0;
}
.information3 .alert-danger a{
	color: #CC3333;
	margin-top: -4px;
}
.information3 .alert-danger a:hover{
	color: #CC6666;
}


/*カリキュラム*/
.progress_status{
	margin: 0 50px 20px;
}
.progress_status .table{
	margin-bottom: 20px;
}
.progress_status .table thead tr{
	border-top: 1px solid #5c95c5;
	text-align: left;
}

.progress_status .table > thead > tr > th {
	border-bottom: 1px solid #5c95c5;
	border: 1px solid #5c95c5;
/*	background-color: #ECF0FF;*/
	padding-left: 2px;
	font-size: 18px;
}

.progress_status .table tbody tr td{
	border-top: 1px solid #5c95c5;
	border-bottom: 1px solid #5c95c5;
	padding: 10px;
	border-right: 0px none;
}
.progress_status .table tbody tr td:last-child{
	border-right: 1px solid #5c95c5;
}
.progress_status .table tbody tr td.year{
	border-left: 1px solid #5c95c5;
	text-align: left;
	background-color: #ECF0FF;
	width: 6em;
}

.progress_status .status{
	text-align: center;
	color: #204d74;
	font-size: 14px;
}
.progress_status .status strong{
	display: block;
	font-size: 24px;
	margin: 2px auto;
	color: #000000;

}

/*専攻医　カリキュラム*/
.progress_status .intern_top{}

.table.intern_top > thead:first-child > tr:first-child > th{
	border-top: 1px solid #5c95c5;
}
.progress_status .intern_top thead th{
	border-top: 1px solid #5c95c5;
}
.progress_status .intern_top tbody td{
	border-left: 1px solid #5c95c5;
	text-align: center;
	width: 6.5%;

}
.progress_status .intern_top tbody td:first-child{
	border-right: 1px solid #5c95c5;
	text-align: left;
	width: auto;
}
.progress_status .intern_top tbody th:nth-last-child(2),
.progress_status .intern_top tbody td:nth-last-child(2){
	border-right: 1px solid #5c95c5;
}

.progress_status .intern_top tbody th:last-child,
.progress_status .intern_top tbody td:last-child{
	width: calc(4em + 24px);
}

/*研修スケジュール*/
.schedule{
	margin: 0 50px 20px;
}

.schedule .nav-tabs{
	position: relative;
	top: 0px;
	z-index: 2;
	border-bottom: 0px none;
}

.schedule .nav-tabs li a{
	background-color: #204d74;
	border-color: #204d74;
	color: #FFFFFF;
}
.schedule .nav-tabs li a:hover{
	border-color: #204d74;
}
.schedule .nav-tabs li.active a{
	background-color: #ECF0FF;
	border-bottom-color: #ECF0FF;
	color: #204d74;
}


.schedule .tab-pane{
	padding: 8px;
	background-color: #ECF0FF;
	border-top: 1px solid #204d74;
	border-left: 1px solid #204d74;
	border-right: 1px solid #204d74;
	border-bottom: 1px solid #204d74;

	position: relative;
	top: 0px;
	z-index: 0;
}

.schedule table{
	margin: 0;
	padding: 0;
	width: 100%;
}

.schedule table th, .schedule table td{
	background-color: #ECF0FF;
}

/*E:トップページCSS*/

/*.main-contents .table {
	margin-bottom: 10px;
	width: 100%;
}*/
.main-contents .table-shinsei {
	margin-left: 10px;
	padding-right: 10px;
}

.main-contents .table-shinsei th{
	width: 10em;
}

.main-contents dl{
	margin-bottom: 2em;
}
.main-contents dl dt{
	border-bottom: 1px solid #5c95c5;
	font-size: 16px;
	margin-bottom: 6px;
}

.main-contents dl dd{
	margin: 0 1em 1em 1em;
}

/*基幹施設ステータス*/
.facility_status{
	list-style-type: none;
	padding-left: 0;
	border: 1px solid #5c95c5;
	background: #ECF0FF;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 20px;
}
.facility_status li{
	margin-bottom: 8px;
}
.facility_status li a.btn{
	margin-left: 1em;
}


/*評価先般*/
/*セレクトボックス*/
select.hyouka{
	width: 5em;
}

/*指導医評価テーブル*/
.table_sidoi_hyouka th.hyouka, .table_sidoi_hyouka td.hyouka{
	white-space: nowrap;
	width: 6em;
}
.table_sidoi_hyouka input{
	min-width: 20em;
}
.table_sidoi_hyouka textarea{
	min-width: 30em;
	min-height: 8em;
}


/*カリキュラム進捗テーブル*/
.table_curriculum{
	border: 4px solid #F4F4F4;
	padding: 0;
	margin-bottom: 20px;
	width: 100%;
	border-spacing: 0;
	border-collapse:separate;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	border-radius: 4px;        /* CSS3草案 */  
    -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 4px;   /* Firefox用 */  	
}
.table_curriculum thead th{
	background-color: #AAC6E8;
	color: #000;
	font-weight: normal;
}
.table_curriculum tbody tr th{
	background-color: #FFFFFF;
	color: #000;
	font-weight: normal;
	width: 6em;
	white-space: nowrap;
	padding-right: 10px;
}
.table_curriculum tbody tr th a{
	color: #337ab7;
}
.table_curriculum tbody tr th a:hover{
	color: #23527c;
}
.table_curriculum thead tr th.curriculum_name, .table_curriculum tbody tr th{
	border-right-width: 3px;
	border-right-style: double;
}
.table_curriculum thead tr th.curriculum_name{
	text-align: center;
}
/*
.table_curriculum thead tr th.curriculum_percent, .table_curriculum tbody tr td.curriculum_percent{
	border-right-width: 3px;
	border-right-style: double;
}
*/
.table_curriculum tr.curriculum_pass{}
.table_curriculum tr.curriculum_pass th, .table_curriculum tr.curriculum_pass td{ /*合格*/
	/*	background-color: #ECF0FF;*/
}

/*カリキュラム進捗統計*/
.table_curriculum_stats{}
.table_curriculum_stats thead th{ /*background-color: #5c95c5; color: #FFFFFF; */}
.table_curriculum_stats td{}

.table_curriculum_stats .count{
	width: 3em;
	text-align: right;
	white-space: nowrap;
}
.table_curriculum_stats .number{ width: 2em; text-align:center; white-space: nowrap;}
.table_curriculum_stats .category{ width: 3em;}
.table_curriculum_stats .name{ width: 10em;}

/*カリキュラム　スケジュール*/

.table_rotation_list thead tr th.sectoral_total, .table_rotation_list tbody tr th.sectoral_total,
.table_rotation_list thead tr td.sectoral_total, .table_rotation_list tbody tr td.sectoral_total
{
	border-right-width: 3px;
	border-right-style: double;
	border-right-color: #CCCCCC;
}



/*お知らせ*/
/*20161031追加　お知らせ一覧未読用テーブル*/
.table_information_list{}
.table_information_list .alert td{
	font-weight: bold;
	background-color: #ECF0FF;
}

.table_information_list tr.unread{
	font-weight: bold;
}
.table_information_list tr.unread td strong{
	color: #E03333;
	white-space: nowrap;
}

/*旧版：削除予定　お知らせ未読*/
.table_information_list tr td strong.unread{ color:#C41C1F; display: block;}
.table_information_list tr.unread td strong.unread{ color:#E03333; display: inline;}

/*20161101追加　カリキュラム表示用追加クラス*/
.table .curriculum_name{ width: auto; white-space: nowrap;}



/* テーブル並べ替え */
.tDnD_whileDrag td {
	background-color: #eee;
	/*-webkit-box-shadow: 11px 5px 12px 2px #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
	-webkit-box-shadow: 6px 3px 5px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
	/*-moz-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
	/*-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
}


@media (min-width: 1200px) {
}
@media screen and (max-width:1200px){
}
@media screen and (max-width:1024px){
}
@media screen and (max-width:767px){
    .navbar-collapse.collapse {
        display: none!important;
    }
	navbar-default {
        display: block!important;
    }
	    .navbar-toggle {
        display: none;
       }
 
}
	
}
@media screen and (max-width:640px){
}
@media screen and (max-width:480px){
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.navbar-collapse{
	height:45px;
	}
}	
}
@media screen and (max-width:320px){
}
