@charset "utf-8";
img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
a {
	color: #666666;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
a:hover {
	color: #0057ff;
	text-decoration: none;
}

/*改行のコントロールに挿入*/
span.break_block{
	display: inline-block;
}
.clearfix:after {
	content: ".";	/* 新しい要素を作る */
	display: block;	/* ブロックレベル要素に */
	clear: both;
	height: 0;
	visibility: hidden;
}

.clearfix {
	min-height: 1px;
}

* html .clearfix {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

/* インプット セレクト*/
input,
select{
/*	box-sizing: border-box;*/
	width: calc(100% - 10px);
	padding: 5px;
	transition: 0.3s;
	letter-spacing: 1px;
	border: 1px solid #666666;
	border-radius: 4px;
}

/* bootstrap ボタン色変更 */
.btn{
	-webkit-box-shadow: 2px 2px 4px rgb(171, 171, 171);
	-moz-box-shadow: 2px 2px 4px rgb(171, 171, 171);
	-ms-box-shadow: 2px 2px 4px rgb(171, 171, 171);
	box-shadow: 2px 2px 4px rgb(171, 171, 171);
	margin:5px;
	cursor: pointer;
}
.btn-primary {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-primary:focus,
.btn-primary.focus {
	color: #fff;
	background-color: #6883D3;
	border-color: #2f85cf;
}
.btn-primary:hover {
	color: #2f85cf;
	background-color: #fff;
	border-color: #2f85cf;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-primary .badge {
	color: #337ab7;
	background-color: #fff;
}
.btn-decision {
	color: #fff;
	background-color: #6883D3;
	border-color: #6883D3;
}
.btn-decision:focus,
.btn-decision.focus {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-decision:hover {
	color: #2f85cf;
	background-color: #fff;
	border-color: #2f85cf;
}
.btn-decision:active,
.btn-decision.active,
.open > .dropdown-toggle.btn-decision {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-decision:active:hover,
.btn-decision.active:hover,
.open > .dropdown-toggle.btn-decision:hover,
.btn-decision:active:focus,
.btn-decision.active:focus,
.open > .dropdown-toggle.btn-decision:focus,
.btn-decision:active.focus,
.btn-decision.active.focus,
.open > .dropdown-toggle.btn-decision.focus {
	color: #fff;
	background-color: #2f85cf;
	border-color: #2f85cf;
}
.btn-decision:active,
.btn-decision.active,
.open > .dropdown-toggle.btn-decision {
	background-image: none;
}
.btn-decision.disabled:hover,
.btn-decision[disabled]:hover,
fieldset[disabled] .btn-decision:hover,
.btn-decision.disabled:focus,
.btn-decision[disabled]:focus,
fieldset[disabled] .btn-decision:focus,
.btn-decision.disabled.focus,
.btn-decision[disabled].focus,
fieldset[disabled] .btn-decision.focus {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-decision .badge {
	color: #337ab7;
	background-color: #fff;
}
.btn-reply {
	color: #333;
	background-color: #eee;
	border-color: #777;
}
.btn-reply:focus,
.btn-reply.focus {
	color: #333;
	background-color: #eee;
	border-color: #777;
}
.btn-reply:hover {
	color: #333;
	background-color: #ccc;
	border-color: #777;
}
.btn-reply:active,
.btn-reply.active,
.open > .dropdown-toggle.btn-reply {
	color: #333;
	background-color: #ccc;
	border-color: #777;
}
.btn-reply:active:hover,
.btn-reply.active:hover,
.open > .dropdown-toggle.btn-reply:hover,
.btn-reply:active:focus,
.btn-reply.active:focus,
.open > .dropdown-toggle.btn-reply:focus,
.btn-reply:active.focus,
.btn-reply.active.focus,
.open > .dropdown-toggle.btn-reply.focus {
	color: #333;
	background-color: #ccc;
	border-color: #777;
}
.btn-reply:active,
.btn-reply.active,
.open > .dropdown-toggle.btn-reply {
	background-image: none;
}
.btn-reply.disabled:hover,
.btn-reply[disabled]:hover,
fieldset[disabled] .btn-reply:hover,
.btn-reply.disabled:focus,
.btn-reply[disabled]:focus,
fieldset[disabled] .btn-reply:focus,
.btn-reply.disabled.focus,
.btn-reply[disabled].focus,
fieldset[disabled] .btn-reply.focus {
	background-color: #ccc;
	border-color: #777;
}
.btn-reply .badge {
	color: #5cb85c;
	background-color: #fff;
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
}
.btn-success:hover {
	color: #255625;
	background-color: #fff;
	border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
	background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-success .badge {
	color: #5cb85c;
	background-color: #fff;
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
	color: #fff;
	background-color: #31b0d5;
	border-color: #1b6d85;
}
.btn-info:hover {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
	color: #fff;
	background-color: #269abc;
	border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
	background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-info .badge {
	color: #5bc0de;
	background-color: #fff;
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
	color: #fff;
	background-color: #ec971f;
	border-color: #985f0d;
}
.btn-warning:hover {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
	color: #fff;
	background-color: #d58512;
	border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
	background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff;
}
.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #c9302c;
	border-color: #761c19;
}
.btn-danger:hover {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
	color: #fff;
	background-color: #ac2925;
	border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
	background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
	background-color: #d9534f;
	border-color: #d43f3a;
}
.btn-danger .badge {
	color: #d9534f;
	background-color: #fff;
}
.btn-link {
	font-weight: normal;
	color: #337ab7;
	border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
	color: #23527c;
	text-decoration: underline;
	background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none;
}
/*ページャー*/
.pager li > a{
	background-color: #999;
	font-weight: bold;
	color: #fff;
}
.pager li > a:hover,
.pager li > a:focus {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
}
.pager li.thispage{
	font-weight: bold;
	font-size: 1.2em;
	margin: 0 5px;
}

@media screen and (max-width:639px){
	.btn{
		padding: 6px 10px;
		margin: 10px 5px;
		font-size: 18px;
	}
/*ページャー*/
	.pager li > a{
		font-size: 16px;
	}
}