@charset "utf-8";
/* CSS Document */

/*トップ_メインメニュー*/
#main h2{
	margin:0 0 0 32px;
	font-size: 32px;
	line-height:2em;
	text-align: left;
	letter-spacing:3px;
}
#main h2 a{
	display: inline-block;
	text-decoration: none;
	border-radius: 12px;
	border: 4px solid #F4F4F4;
	padding: 0 16px 0 8px;
	margin-left: -8px;
}
#main h2 a:hover{
	text-decoration: none;
	background-color: #F8F8F8;
	border: 4px solid #F0F0F0;
	color: #000000;
}
#main h2 img{
	width: 36px;
	height: 36px;
	margin-right: 12px;
	margin-bottom: -4px;
}
#main h2 a img{
	width: 46px;
	height: 36px;
	margin-right: 12px;
	margin-bottom: -4px;
}

#main h2 span.sub_title{
	margin-left:18px;
	font-size:28px;
}

#main h2 span.sub_title img{
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-bottom: -4px;
	}

/*コンテンツメニュー左*/
#mainleft03{
	width: 1100px;
	padding: 10px;
	margin: 10px 0 20px 40px;
	text-align:left;
	background-color: #FFFFFF;
}

#mainleft03 h2{
	margin:0;
	font-size:2em;
}

#mainleft03 h3{
	margin: 30px 0 15px 0;
	font-size: 18pt;
	font-weight: normal;
}

#mainleft03 h4,
#mainleft03 h4.titlesecond{
	color: #365F98;
	font-size: 18px;
	letter-spacing: 3px;
	margin: 0 0 10px;
	padding:10px 0 8px 0;
	border-bottom:#365F98 solid 2px;
	background:#FFFFFF;
}

#mainleft03 h4 span.title{
	background: #365F98;
	background-image: url(../img/h4.png);
	background-repeat: no-repeat;
	padding: 2px 6px 2px 12px;
	color: #FFFFFF;
}

#mainleft03 h4.titlesecond{
	padding:20px 0 8px 0;
	color: #444444;
	font-size: 14pt;
}

#mainleft03 h4.titlesecond span.title{
	background: #FFFFFF;
	background-image: none;
	background-repeat: no-repeat;
	color: #444444;
	font-size: 17px;
	padding: 0px;
	margin-left: 5px;
}
#mainleft03 h4 span.h4_attention{
	font-size:0.8em;
	letter-spacing:0;
	color:#FF0000;
	font-weight:normal;
	margin-left:1em;
}

#mainleft03 h4 img{
	margin: 0 0 0 10px;
}

#mainleft03 h3:first-child{
	margin-top: 0px;
	border-bottom: 1px solid #666666;
	padding-bottom: 4px;
}
#mainleft03 h3:first-child img{
	width: 36px;
	height: 36px;
	margin: 0 6px -4px 0;
}

#mainleft03 div.menuplus,
#mainleft03 h4 div.menuplus{
	float:right;
	margin-top:7px;
	margin-left: 1em;
	font-size:16px;
	color:#444444;
}

#mainleft03 div.menuplus a,
#mainleft03 h4 div.menuplus a{
	color:#444444;
	text-decoration:none;
}

#mainleft03 div.menuplus a:hover,
#mainleft03 h4 div.menuplus a:hover{
	color:#444444;
	text-decoration:none;
}

#mainleft03 h4 div.menuplus{
	letter-spacing:0;
	font-weight:normal;
	margin-bottom: 0;
}

#mainleft03 div.menuplus img{
	width: 24px;
	height: 24px;
	margin-left:10px;
	vertical-align:middle;
}

#mainleft03 h4 div.menuplus img,
#mainleft03 table td div.menuplus img{
	width: 18px;
	height: 18px;
	margin-left:10px;
}


#mainleft03 p{
	margin:0 0 15px 0;
}

#mainleft03 ul.jouken_kekka{
	width:1118px;
	clear:both;
	display:block;
}

#mainleft03 ul.jouken_kekka li{
	float:left;
	height:2em;
	display:block;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}


/*検索条件モーダル*/
/*20161110修正*/
#modal-content {
	width: 500px ;
	margin: 0 ;
	padding: 20px;
	border: 2px solid #aaa ;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}
/*20161110修正*/
#modal-content p.title{
	text-align:center;
	font-weight:bold;
	margin:0 0 0.5em 0;
	font-size:1.4em;
}

/*20161110追加*/
#modal-content p.detail_save{
	font-size:1em;
	text-align:center;
	margin:0 0 1em 0;
	padding-bottom:1em;
	border-bottom:2px solid #cdcdcd;
}

/*20161110クラス追加*/
#modal-content ul.select_cond{
	width:500px;
	clear:both;
	font-size: 0;
}
#modal-content ul.select_cond li{
	display:inline-block;
	font-size: 14px;
	line-height:1.5em;
	margin-bottom:10px;
	width: auto;
	min-width: 250px;
	overflow-x: visible;
	white-space: nowrap;
}
/*20180130クラス追加*/
#modal-content ul.select_cond_column_03 li{
	min-width: 160px;
}

#modal-content.modal-content-md,
#modal-content.modal-content-md ul.select_cond{
	width: 600px;
}
#modal-content.modal-content-md ul.select_cond li{
	min-width: 300px;
}
#modal-content.modal-content-xl ul.select_cond_column_03 li{
	min-width: 200px;
}
#modal-content.modal-content-lg,
#modal-content.modal-content-lg ul.select_cond{
	width: 720px;
}
#modal-content.modal-content-lg ul.select_cond li{
	min-width: 360px;
}
#modal-content.modal-content-lg ul.select_cond_column_03 li{
	min-width: 240px;
}
#modal-content.modal-content-xl,
#modal-content.modal-content-xl ul.select_cond{
	width: 980px;
}
#modal-content.modal-content-xl ul.select_cond li{
	min-width: 490px;
}
#modal-content.modal-content-xl ul.select_cond_column_03 li{
	min-width: 326px;
}


#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
	color: #444444 ;
	text-decoration:none;
}
 
.button-link:hover {
	cursor: pointer ;
	color: #444444 ;
}

/*閉じるボタン*/
/*20161110修正*/
div#close{
	margin:20px 0 0 0;
	clear:both;
}

/*20161110追加*/
div#close ul.btn_flex{
	display:flex;
	/*justify-content: flex-end;*/
	justify-content: space-between;
	margin:0;
	padding:0;
}

/*20161110追加*/
div#close ul.btn_flex li{
	margin-right:20px;
}

/*20161110修正*/
div#close ul.btn_flex li:last-child{
	margin-right: 0;
	margin-left:auto;
}

/*20161110修正*/
div#close ul.btn_flex li a{
	background-color: #666666;
	border: 1px solid #666666;
	padding: 4px 8px;
	margin: 4px 0 0 0;
	text-decoration: none;
	color: #FFFFFF;
}

/*20161110修正*/
div#close ul.btn_flex li a:hover{
	background-color: #f4f4f4;
	border: 1px solid #666666;
	color: #444444;
}



/*検索条件の操作表示・非表示*/
#entry14,
#entry13,
#entry12,
#entry11,
#entry10,
#entry09,
#entry08,
#entry07,
#entry06,
#entry05,
#entry04,
#entry03,
#entry02,
#entry01{
	display:none;
}

#check14:checked ~ #entry14,
#check13:checked ~ #entry13,
#check12:checked ~ #entry12,
#check11:checked ~ #entry11,
#check10:checked ~ #entry10,
#check09:checked ~ #entry09,
#check08:checked ~ #entry08,
#check07:checked ~ #entry07,
#check06:checked ~ #entry06,
#check05:checked ~ #entry05,
#check04:checked ~ #entry04,
#check03:checked ~ #entry03,
#check02:checked ~ #entry02,
#check01:checked ~ #entry01{
	display:inline-block;
	vertical-align:top;
}

/*検索結果一覧*/
div.kekka_list,
div#kekka_list{

}

div.kekka_list table,
div#kekka_list table{
	font-size:1em;
	width:100%;
	background-color: #FFFFFF;
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
}
html:not([lang*=""]) div.kekka_list table,
html:not([lang*=""]) div#kekka_list table{
	/* Firefox用ハック */
	border-collapse: separate;
}
div.kekka_list table th,
div.kekka_list table td,
div#kekka_list table th,
div#kekka_list table td {
	border-right:#777777 1px solid;
	border-bottom:#777777 1px solid;
}
div.kekka_list table th,
div#kekka_list table th{
	background:#EFEFEF;
	text-align:center;
	padding: 6px 4px;
	white-space: nowrap;
}

/*チェックボックス*/
div.kekka_list table th.check,
div.kekka_list table td.check,
div#kekka_list table th.check,
div#kekka_list table td.check{
	width:2.5em;
}
div.kekka_list table td.check,
div#kekka_list table td.check{
	text-align:center;
}
#mainleft03 table td input[type="checkbox"]{
	display: inline-block;
	text-align:center;
	border: 1px solid #FF0000;
	margin:auto;
}


/*No（検索結果通し番号）*/
div#kekka_list table th.no,
div#kekka_list table td.no{
	width: 2.5em;
}
div#kekka_list table td.no{
	text-align:right;
}
/*会員番号*/
div#kekka_list table th.mno,
div#kekka_list table td.mno{
	width: 7em;
	white-space: nowrap;
}
div#kekka_list table td.mno{
	text-align:center;
}

/*カテゴリー*/
div#kekka_list table th.category,
div#kekka_list table td.category{
	width: calc(5em + 12px);
	text-align: center;
}

/*日時表記*/
div#kekka_list table th.ymd-1,
div#kekka_list table td.ymd-1,
div#kekka_list table th.ymd-2,
div#kekka_list table td.ymd-2{
	width: 6.5em;
/*	width: calc( 5em + 12px );*/
	text-align: center;
}
div#kekka_list table th.ymd-2 a,
div#kekka_list table td.ymd-2 a{
	padding-top: 4px;
	padding-bottom: 4px;
}
/*日時表記*/
div#kekka_list table th.ymdhm,
div#kekka_list table td.ymdhm{
	width: calc( 10em + 12px );
	text-align: left;
	white-space: nowrap;
}


div#kekka_list table th.nintei,
div#kekka_list table td.nintei{
	width: calc(5em + 12px);
}
div#kekka_list table th.nintei a,
div#kekka_list table td.nintei a{
	padding-top: 4px;
	padding-bottom: 4px;
}

/*氏名*/
div#kekka_list table th.name,
div#kekka_list table td.name{
	width:9em;
	white-space: nowrap;
	padding-right: 6px;
}
div#kekka_list table td.name{
	text-align: left;
	padding-top: 15px;
}
div#kekka_list table td.name ruby{
	margin-right: 0.5em;
	text-align: left;
}
div#kekka_list table td.name ruby rt{
	font-size: 12px;
}

/*ふりがな（不要か？）*/
div#kekka_list table th.kana,
div#kekka_list table td.kana{
	width:12em;
	text-align:center;
}

/*地区*/
div#kekka_list table th.area,
div#kekka_list table td.area{
	width:6em;
}
div#kekka_list table td.area{
	text-align:center;
}

/*生年月日*/
div#kekka_list table th.birth,
div#kekka_list table td.birth{
	width:5em;
}
div#kekka_list table td.birth{
	text-align:center;
	white-space: nowrap;
}

div#kekka_list table th.sp,
div#kekka_list table td.sp{
	width:6em;
}

/*年*/
div#kekka_list table td.year{
	text-align:center;
	white-space: nowrap;
	width:5.5em;
}

div#kekka_list table td.sp{
	text-align:center;
	white-space: nowrap;
}

/*詳細ボタン？*/
div#kekka_list table th.detail,
div#kekka_list table td.detail{
	width:3em;
}
div#kekka_list table td.detail{
	text-align:center;
}
div#kekka_list table td.score{
	text-align:center;
	white-space: nowrap;
	width: 5em;
}
div#kekka_list table td.exemption{
	text-align:center;
	white-space: nowrap;
	width: 6em;
}
div#kekka_list table tbody tr:hover td{
	background-color: #e6e6e6;
}

div#kekka_list table tbody tr td a,
div#kekka_list table tbody tr td label{
	color: #444444;
	display: block;
	margin: 0;
	padding: 16px 4px;
}

div#kekka_list table tbody tr td.name a,
div#kekka_list table tbody tr td.name label{
	padding: 0px 4px 4px;
	margin-top: -12px;
	display: block;
}
div#kekka_list table tbody tr td a:hover{
	color: #444444;
	text-decoration: none;
}

div.kekka_list table.nolink tbody tr td,
div#kekka_list table.nolink tbody tr td{
	padding: 6px 4px;
}
div.kekka_list table.nolink tbody tr td.name,
div#kekka_list table.nolink tbody tr td.name{
	padding: 8px 4px 4px;
}



/*会員詳細情報*/

#slidebox,
#slidebox1,
#slidebox2,
#slidebox3,
#slidebox4{
	display:none;
}

div.move_info{
	background:#FFFFFF;
	margin-bottom:30px;
}

#mainleft03 .detail_top table,
#mainleft03 .detail_basic_sp table,
#mainleft03 .detail_basic table,
#mainleft03 .detail_change table{
	width: 100%;
	table-layout: fixed;
	font-size:16px;
}
#mainleft03 .detail_top table th,
#mainleft03 .detail_basic_sp table th,
#mainleft03 .detail_basic table th,
#mainleft03 .detail_change table th{
	padding: 12px 0 2px 4px;
	white-space: nowrap;
	border-bottom: 1px solid #999999;
	text-align:left;
	color: #355262;
}
#mainleft03 .default_search table th{
	width: calc( 7em + 4px);
	padding-right: 6px;
}

#mainleft03 .detail_top table th,
#mainleft03 .detail_basic_sp table th,
#mainleft03 .detail_basic table th{
	width: calc( 8em + 4px);
}

#mainleft03 .default_search table th.th_double{
	width: calc( 14em + 8px);
}

#mainleft03 .detail_top table tr.noline th,
#mainleft03 .detail_basic_sp table tr.noline th,
#mainleft03 .detail_basic table tr.noline th,
#mainleft03 .detail_change table tr.noline th,
#mainleft03 .detail_top table tr.noline td,
#mainleft03 .detail_basic_sp table tr.noline td,
#mainleft03 .detail_basic table tr.noline td,
#mainleft03 .detail_change table tr.noline td{
	border-bottom: 0px none;
}

#mainleft03 .detail_basic_sp table td{
	width: auto;
}

#mainleft03 .detail_top table th.th_top,
#mainleft03 .detail_basic_sp table th.th_top,
#mainleft03 .detail_basic table th.th_top{
	vertical-align:top;
}

#mainleft03 .detail_top table td,
#mainleft03 .detail_basic_sp table td,
#mainleft03 .detail_basic table td,
#mainleft03 .detail_change table td{
	border-bottom: 1px solid #999999;
}
#mainleft03 .detail_top table td,
#mainleft03 .detail_basic_sp table td,
#mainleft03 .detail_basic table td{
	padding: 16px 0 4px;
}

#mainleft03 .detail_top table th{
	border-bottom:#4444A7 solid 1px;
}

#mainleft03 .detail_top table td{
	border-bottom:#4444A7 solid 1px;
}


#mainleft03 .detail_basic_sp table th{
	padding: 12px 4px 2px 4px;
	width: calc(5em + 8px);
}

#mainleft03 .detail_top table th.long,
#mainleft03 .detail_basic table th.long,
#mainleft03 .detail_basic_sp table th.long{
	width:8em;
}

#mainleft03 .detail_top table td.single,
#mainleft03 .detail_basic table td.single{
	width: auto;/*要調整*/
}
#mainleft03 .detail_top table td.btnicon,
#mainleft03 .detail_basic table td.btnicon{
	width: 40px;/*要調整*/
}


#mainleft03 .detail_top table td input,
#mainleft03 .detail_basic table td input,
#mainleft03 .detail_change table td input{
	font-size: 15px;
	height:1.5em;
	padding:3px 6px;
	margin-top: -4px;
	margin-bottom: 3px;
}
#mainleft03 .detail_top table td input[type="button"],
#mainleft03 .detail_basic table td input[type="button"],
#mainleft03 .detail_change table td input[type="button"]{
	height: auto;
	padding: 5px 6px;
}

#mainleft03 .detail_top table td select,
#mainleft03 .detail_basic table td select,
#mainleft03 .detail_change table td select{
	font-size: 15px;
	height:2.3em;
	padding: 3px 4px;
	margin-right: -2px;
	margin-top: -4px;
	margin-bottom: 3px;
}

#mainleft03 .detail_top table td input.search_radio,
#mainleft03 .detail_basic table td input.search_radio{
	vertical-align:text-top;
}

#mainleft03 .detail_top table td textarea.default_search,
#mainleft03 .detail_basic table td textarea.default_search{
	width:400px;
	height:1.5em;
	font-size:16px;
	vertical-align:text-top;
	padding:3px 6px;
	overflow:hidden;
}


#mainleft03 .detail_change table thead th{
	width: auto;
}
#mainleft03 .detail_change table thead th:first-child{
	width: 9em;
}

#mainleft03 .detail_change table tbody th{
	width: 9em;
	padding-right: 6px;
}
#mainleft03 .detail_change table tbody td{
	padding: 16px 0 4px 8px;
	width: calc(50% - 6em);
}
#mainleft03 .detail_change table tr td:nth-child(2){
	border-right: 2px solid #000000;
}
#mainleft03 .detail_change table tr td:last-child{
	padding-left: 36px;
}
#mainleft03 .detail_change table th.name_01{
	vertical-align: top;
	width: calc( 2em + 4px);
}
#mainleft03 .detail_change table th.name_02{
	width: auto;
}
#mainleft03 .detail_change table td.change_line{
	border-right: 2px solid #000000;
}



#mainleft03 .detail_top table td.hensyu,
#mainleft03 .detail_basic table td.hensyu,
#mainleft03 .detail_top table td span.hensyu,
#mainleft03 .detail_basic table td span.hensyu,
#mainleft03 .detail_change table .hensyu,
#mainleft03 #kekka_list table td.hensyu,
#mainleft03 #kekka_list table td span.hensyu{
	color:#002CFF;
}

/*症例一覧*/
#mainleft03 .detail_basic table.case_detail th{
	width: calc( 13em + 8px );
}
/*自己申告*/
#mainleft03 .detail_basic table.self-declaration_detail th{
	width: calc( 9em + 8px );
}
#mainleft03 .detail_basic table.self-declaration_detail .error,
#mainleft03 .detail_basic table.self-declaration_detail .error th,
#mainleft03 .detail_basic table.self-declaration_detail .error td{
	background-color: #FFE0E0;
}
#mainleft03 .detail_basic table.self-declaration_detail .error:hover,
#mainleft03 .detail_basic table.self-declaration_detail .error:hover th,
#mainleft03 .detail_basic table.self-declaration_detail .error:hover td{
	background-color: #FF9999;
}
#mainleft03 .detail_basic table.self-declaration_detail .error th{
	color: #990000;
}

#mainleft03 p#kakutei,
#mainleft03 p.kakutei{
	font-size:16px;
	margin:20px 0;
	padding:15px;
	border:1px solid #4444A7;
	background-color:#f4f4f4;
	border-radius:5px;
}

#mainleft03 p#kakutei img,
#mainleft03 p.kakutei img{
	margin-right:10px;
}


input.input_count{ width: 3em;}
input.input_number{ width: 8em;}

input.input_full{width: calc(100% - 20px);}


/*詳細果一覧*/
div.detail_list{

}

div.detail_list table{
	font-size:1em;
	width:100%;
}

div.detail_list table th,
div.detail_list table td {
	border:#777777 1px solid;
	padding:4px 2px;
}

div.detail_list table th{
	background:#EFEFEF;
	text-align:center;
}

div.detail_list table th.check,
div.detail_list table td.check{
	width:2.5em;
}

div.detail_list table td.check{
	text-align:center;
}

div.detail_list table th.no,
div.detail_list table td.no{
	width:3.7em;
}

div.detail_list table th.mno,
div.detail_list table td.mno{
	width:6em;
}
div.detail_list table td.no,
div.detail_list table td.mno{
	text-align:right;
}

div.detail_list table th.name,
div.detail_list table td.name{
	width:9em;
	white-space: nowrap;
	padding-right: 6px;
}
div.detail_list table td.name{
	text-align: left;
	padding-top: 15px;
}
div.detail_list table td.name ruby{
	margin-right: 0.5em;
	text-align: left;
}
div.detail_list table td.name ruby rt{
	font-size: 12px;
}

div.detail_list table th.kana,
div.detail_list table td.kana{
	width:12em;
	text-align:center;
}


div.detail_list table th.area,
div.detail_list table td.area{
	width:6em;
}

div.detail_list table td.area{
	text-align:center;
}

div.detail_list table th.enter,
div.detail_list table th.enter,
div.detail_list table th.birth,
div.detail_list table td.birth{
	width:5em;
}

div.detail_list table td.enter,
div.detail_list table td.birth{
	text-align:center;
}

div.detail_list table td.birth{
	white-space: nowrap;
}

div.detail_list table th.sp,
div.detail_list table td.sp{
	width:6em;
}

div.detail_list table td.sp{
	text-align:center;
	white-space: nowrap;
}

div.detail_list table th.detail,
div.detail_list table td.detail{
	width:3em;
}

div.detail_list table td.detail{
	text-align:center;
}

div.detail_list table tbody tr td a{
	color: #444444;
}

div.detail_list table tbody tr td a:hover{
	color: #444444;
	text-decoration: none;
}


/*機能ごとのカラー調整（案）*/
/*会員管理（青）*/
div.member #mainleft03 h4, div.member #mainleft03 h4.titlesecond{
	color: #365F98;
	border-bottom: #365F98 solid 2px;
}
div.member #mainleft03 h4 span.title{
	background-color: #365F98;
	color: #FFFFFF;
}
div.member .btn_border{
	padding-bottom:30px;
	border-bottom: #365F98 dotted 2px;
}
div.member .btn a:hover, div.member .btn_border a:hover{
	background-color: #365F98;
}
div.member #mainleft03 p#kakutei{
	border:1px solid #365F98;
}
div.member #mainleft03 table th.color_th {
	color: #355262;
	/*vertical-align:bottom;20161128*/
}


/*資格管理（紫）*/
div.qualification #mainleft03 h4, div.qualification #mainleft03 h4.titlesecond{
	color: #7e389b;
	border-bottom:#7e389b solid 2px;
}
div.qualification #mainleft03 h4 span.title{
	background-color: #7e389b;
}
div.qualification .btn_border{
	padding-bottom:30px;
	border-bottom: #7e389b dotted 2px;
}
div.qualification .btn a:hover, div.qualification .btn_border a:hover{
	background-color: #7e389b;
}
div.qualification #mainleft03 p#kakutei{
	border:1px solid #7e389b;
}
div.qualification #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}


/*資格管理（紫）　※body版*/
body#qualification #mainleft03 h4, body#qualification #mainleft03 h4.titlesecond{
	color: #7e389b;
	border-bottom:#7e389b solid 2px;
}
body#qualification #mainleft03 h4 span.title{
	background-color: #7e389b;
}
body#qualification .btn_border{
	padding-bottom:30px;
	border-bottom: #7e389b dotted 2px;
}
body#qualification .btn a:hover, body#qualification .btn_border a:hover{
	background-color: #7e389b;
}



/*施設管理（オレンジ）*/
div.facility #mainleft03 h4, div.facility #mainleft03 h4.titlesecond{
	color: #FE7817;
	border-bottom: #FE7817 solid 2px;
}
div.facility #mainleft03 h4 span.title{
	background-color: #FE7817;
}
div.facility .btn_border{
	padding-bottom:30px;
	border-bottom: #FE7817 dotted 2px;
}
div.facility .btn a:hover, div.facility .btn_border a:hover{
	background-color: #FE7817;
}
div.facility #mainleft03 p#kakutei{
	border:1px solid #FE7817;
}
div.facility #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}


/*帳票管理（グリーン）*/
div.format #mainleft03 h4, div.format #mainleft03 h4.titlesecond{
	color: #52CBB6;
	border-bottom: #52CBB6 solid 2px;
}
div.format #mainleft03 h4 span.title{
	background-color: #52CBB6;
}
div.format .btn_border{
	padding-bottom:30px;
	border-bottom: #52CBB6 dotted 2px;
}
div.format .btn a:hover, div.format .btn_border a:hover{
	background-color: #52CBB6;
}
div.format #mainleft03 p#kakutei{
	border:1px solid #52CBB6;
}
div.format #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}

/*システム連携（ブルーグレイ）*/
div.system #mainleft03 h4, div.system #mainleft03 h4.titlesecond{
	color: #7C929D;
	border-bottom: #7C929D solid 2px;
}
div.system #mainleft03 h4 span.title{
	background-color: #7C929D;
}
div.system .btn_border{
	padding-bottom:30px;
	border-bottom: #7C929D dotted 2px;
}
div.system .btn a:hover, div.system .btn_border a:hover{
	background-color: #7C929D;
}
div.system #mainleft03 p#kakutei{
	border:1px solid #7C929D;
}
div.system #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}

/*マスター管理（オレンジ2）*/
div.others #mainleft03 h4, div.others #mainleft03 h4.titlesecond{
	color: #F7A83E;
	border-bottom: #7C929D solid 2px;
}
div.others #mainleft03 h4 span.title{
	background-color: #F7A83E;
}
div.others .btn_border{
	padding-bottom:30px;
	border-bottom: #F7A83E dotted 2px;
}
div.others .btn a:hover, div.others .btn_border a:hover{
	background-color: #F7A83E;
}
div.others #mainleft03 p#kakutei{
	border:1px solid #F7A83E;
}
div.others #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}

/*単位管理（ピンク）*/
div.point #mainleft03 h4, div.point #mainleft03 h4.titlesecond{
	color: #E585A0;
	border-bottom: #E585A0 solid 2px;
}
div.point #mainleft03 h4 span.title{
	color: #355262;
}
div.point .btn_border{
	padding-bottom:30px;
	border-bottom: #E585A0 dotted 2px;
}
div.point .btn a:hover, div.point .btn_border a:hover{
	background-color: #E585A0;
}
div.point #mainleft03 p#kakutei{
	border:1px solid #E585A0;
}
div.point #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}

/*関連学会（ピンクパープル）*/
div.relatedsociety #mainleft03 h4, div.qualification #mainleft03 h4.titlesecond{
	color: #D970FB;
	border-bottom:#D970FB solid 2px;
}
div.relatedsociety #mainleft03 h4 span.title{
	background-color: #D970FB;
}
div.relatedsociety .btn_border{
	padding-bottom:30px;
	border-bottom: #D970FB dotted 2px;
}
div.relatedsociety .btn a:hover, div.qualification .btn_border a:hover{
	background-color: #D970FB;
}
div.relatedsociety #mainleft03 p#kakutei{
	border:1px solid #D970FB;
}
div.relatedsociety #mainleft03 table th.color_th {
	color: #355262;
	/* vertical-align:bottom; */
}


@media (min-width: 1200px) {
}
@media screen and (max-width:1200px){
#main h2{
	margin:0 0 0 0px;
	font-size: 32px;
	line-height:2em;
	text-align: left;
	letter-spacing:3px;
}
#mainleft03{
	width: 980px;
	padding: 6px;
	margin: 10px 0 20px 0px;
}
#mainleft03 .detail_top table,
#mainleft03 .detail_basic_sp table,
#mainleft03 .detail_basic table{
	font-size:15px;
}

}
@media screen and (max-width:1024px){
}
@media screen and (max-width:767px){
}
@media screen and (max-width:640px){
}
@media screen and (max-width:480px){
}
@media screen and (max-width:320px){
}
