.main-contents .boxmenucustom{
	width: auto;
	margin: 0 auto;
}


.main-contents .boxmenucustom a{
	display: block;
	border-radius: 8px;
	border: 4px solid #fff;
	padding: 5px;
	background-color: #FFF;
	box-shadow: 0 0 10px 0 #CCC;
	text-align: center;
	color: #444;
	margin-bottom: 20px;
}
.main-contents .boxmenucustom a:hover{
/* 	color: #444499; */
	text-decoration: none;
}

.main-contents .boxmenucustom a img{
	display: block;
	margin: 0 auto;
}

.main-contents .boxmenucustom a h1 {
	margin: 5px;
	font-size: 48px;
	font-weight:normal;
}

.main-contents .boxmenucustom a h2 {
	font-size: 22px;
	text-align: center;
	border-bottom: #DDD 1px solid;
	padding-bottom: 4px;
	padding-left: 0;
	background-image: none;
}

.main-contents .boxmenucustom a p {
	margin: 10px 5px 10px;
	font-size: 14px;
	line-height: 180%;
}
