.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:1.0;
	filter: alpha(opacity=80);
}

#loading {
	display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    padding: 16px;
    width:250px;
    height:18em;
    margin-top: -9em;
    margin-left: -9em;
    z-index:1002;
    overflow: auto;
    background: url('../img/ajax_loader.gif') no-repeat center;
}

[v-cloak] {
  display: none;
}

.contents p.page_error {
	margin: 0 0 20px 0;
	border: solid 1px #E03333;/*基本色333*/
	padding: 10px 15px;
	border-radius: 6px;
	font-size:16px;
	background-color:#FFE8E8;
	color: #E03333;
}

.contents p.page_error p,.contents p.page_error span {
	margin: 0px 20px 0px 20px !important;
}

/*-------Video Screen Custom -------*/
@media screen and (min-width:768px) {
	
	div.coop_visual div#video1 video,
	div.coop_visual div#video2 video,
	div.coop_visual div#video3 video,
	div.coop_visual div#video4 video,
	div.coop_visual div#video5 video{
		width: 640px !important;
		height: 480px !important;
		display: block !important;
		margin: 2rem auto 1rem !important;
	}
	
	
	div#video_area div#video1,
	div#video_area div#video2,
	div#video_area div#video3,
	div#video_area div#video4,
	div#video_area div#video5,
	div#video_area iframe#iframeView {
		width: 640px !important;
		height: 480px !important;
		display: block !important;
		margin: 2rem auto 1rem !important;
	}
	
	.contents #video1{display : block !important; width: 640px !important;}
}

/*画面幅768px未満の設定*/
@media screen and (max-width:767px){
	div.coop_visual div#video1 video,
	div.coop_visual div#video2 video,
	div.coop_visual div#video3 video,
	div.coop_visual div#video4 video,
	div.coop_visual div#video5 video{
		width: 320px !important;
		height: 240px !important;
		margin: 2rem auto 1rem !important;
		display: block !important;
	}
	
	div#video_area div#video1,
	div#video_area div#video2,
	div#video_area div#video3,
	div#video_area div#video4,
	div#video_area div#video5,
	div#video_area iframe#iframeView {
		width: 320px !important;
		height: 240px !important;
		margin: 2rem auto 1rem !important;
		display: block !important;
	}
	
	.contents #video1{display : block !important; width: 320px !important;}
	
	.list_truyen span{
		display: none;
	}
	
	.list_truyen a {
		display: inline-block;
    	width: 275px;
    	white-space: nowrap;
   	 	overflow: hidden !important;
   	 	text-overflow: ellipsis;
	}
	
}

div.list-adv:empty {
   display: none;
}

.disable {
	background:#AAAAAA !important;
	pointer-events: none;
}

.totaletime {
	background-color:#fff  !important;
	color: #000000  !important;
}

.totaletime .title {
	float: left !important;
}

.totaletime .time_m,
.totaletime .time_m {
	color: #000000  !important;
}

.radioCustom input[type="radio"]{
display: inherit !important;
width: auto;
}

.td_custom {
	display:inline !important;
	padding: 0px !important;
	border: none !important;
}

.td_custom input[type="radio"],
.td_custom input[type="checkbox"]{	
	margin-top: 12px;
	margin-left: 5px;
}

select.form_word_sm {
	min-width: 5em  !important;
	width: auto  !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #2f85cf !important;
    border-color: #2f85cf !important;
}

.btn-primary-finish {
	color: #fff;
	background-color: #0a599c;
	border-color: #0a599c;
}
.btn-primary-finish:focus,
.btn-primary-finish.focus {
	color: #fff;
	background-color: #6883D3;
	border-color: #0a599c;
}
.btn-primary-finish:hover {
	color: #0a599c;
	background-color: #fff;
	border-color: #0a599c;
}
.btn-primary-finish:active,
.btn-primary-finish.active,
.open > .dropdown-toggle.btn-primary-finish {
	color: #fff;
	background-color: #0a599c;
	border-color: #0a599c;
}
.btn-primary-finish:active:hover,
.btn-primary-finish.active:hover,
.open > .dropdown-toggle.btn-primary-finish:hover,
.btn-primary-finish:active:focus,
.btn-primary-finish.active:focus,
.open > .dropdown-toggle.btn-primary-finish:focus,
.btn-primary-finish:active.focus,
.btn-primary-finish.active.focus,
.open > .dropdown-toggle.btn-primary-finish.focus {
	color: #fff;
	background-color: #0a599c;
	border-color: #0a599c;
}
.btn-primary-finish:active,
.btn-primary-finish.active,
.open > .dropdown-toggle.btn-primary-finish {
	background-image: none;
}
.btn-primary-finish.disabled:hover,
.btn-primary-finish[disabled]:hover,
fieldset[disabled] .btn-primary-finish:hover,
.btn-primary-finish.disabled:focus,
.btn-primary-finish[disabled]:focus,
fieldset[disabled] .btn-primary-finish:focus,
.btn-primary-finish.disabled.focus,
.btn-primary-finish[disabled].focus,
fieldset[disabled] .btn-primary-finish.focus {
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-primary-finish .badge {
	color: #337ab7;
	background-color: #fff;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.task_cat_right {
	margin-right: 1.5em;
	padding:  0.25em 0.5em;
}

.task_cat_right_note {
    margin-right: 2.5em;
    padding: 0.25em 0.5em;
}

.list-adv-listpage {
    text-align: center;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: auto;
    padding: 0;
}

.list-adv-listpage.list-adv-lunchon div.adv_lunchon_a,
.list-adv-listpage.list-danh-sach div.adv_lunchon_a {
    width: calc( 100% - 20px);
}

.list-adv-listpage.list-adv-lunchon div ,
.list-adv-listpage.list-danh-sach div{
    margin: 15px 10px 0;
    display: block;
}

.list-adv-lunchon div {
	width: 240px;
}

.list-danh-sach div {
	width: 240px;
}

.list_truyen a {
	border-bottom: 1px dashed #ddd;
	margin: 5px;
}

.list_truyen a:hover:nth-child(odd), 
.list_truyen a:hover:nth-child(even){
	text-decoration: none !important;
	color:#fff !important;
	background: #78aade !important;
	text-shadow:none !important;
	font-size: 16px;
	font-weight: bold;
}

.pagination {
	margin:0px !important;
	padding: 0px !important;
	padding-top: 7px !important;
}

.float_right {
	float: right;	
}

.float_left {
	float: left;	
}

.tab_panel {
	white-space: pre-line;
}


.movie_img img {
    border: none !important;
    max-width: 240px !important;
    height: auto !important;
    vertical-align: middle !important;
}

.text_align_left {
	text-align: left;
}

.text_align_right {
	text-align: right;
}

@media screen and (max-width:280px){
	.list_truyen a {
	    display: inline-block;
	    width: 200px;
	    white-space: nowrap;
	    overflow: hidden !important;
	    text-overflow: ellipsis;
	}
}

@media screen and (min-width:281px) and (max-width:320px){
	.list_truyen a {
	    display: inline-block;
	    width: 240px;
	    white-space: nowrap;
	    overflow: hidden !important;
	    text-overflow: ellipsis;
	}
}

@media screen and (min-width:321px) and (max-width:360px){
	.list-adv-listpage.list-danh-sach div{
	    margin: 30px 14px 0;
	    padding-bottom: 15px;
	    display: block;
	}
}

@media screen and (min-width:361px) and (max-width:410px){
	.list-adv-listpage.list-danh-sach div{
	    margin: 30px 40px 0;
	    padding-bottom: 15px;
	    display: block;
	}
}

@media screen and (min-width:411px) and (max-width:539px){
	.list-adv-listpage.list-danh-sach div{
	    margin: 30px 40px 0;
	    padding-bottom: 15px;
	    display: block;
	}
}

@media screen and (min-width:540px){
	.list-adv-listpage.list-danh-sach div{
	    margin: 30px 95px 0;
	    padding-bottom: 15px;
	    display: block;
	}
}

@media screen and (min-width:768px) {
	.list-adv-listpage.list-adv-lunchon div, .list-adv-listpage.list-danh-sach div {
	    margin: 15px 22px 0;
	    display: block;
	}
}
	
.line_soild {
	border-bottom: solid 1px #666;
}

.setting {
	float: right;
	color: #fff;
}

.setting:hover {
	color: #afaaaa;
}

.rounded-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  pointer-events:none;
  cursor: pointer;
  padding:0px !important;
}

.dropdown-menu-custom {
	padding-top: 13px !important;
    margin-top: -6px !important;
    margin-left: 5px !important;
    min-width: 89px !important;
}

.rounded-circle-1 {
	background-color: #f5e4e4;
	border: 1px solid #ebcaca;
}

.rounded-circle-2 {
	background-color: #f5ebcd;
    border: 1px solid #efdfaf;
}

.rounded-circle-3 {
	background-color: #e2eee2;
    border: 1px solid #cbe1cb;
}

.rounded-circle-4 {
    background-color: #e1e8e8;
    border: 1px solid #cdd9d9;
}

.rounded-circle-5 {
    background-color: #eae4d3;
    border: 1px solid #ded5bb;
}

.rounded-circle-6 {
    background-color: #e5e3df;
    border: 1px solid #d5d2cb;
}

.rounded-circle-7 {
    background-color: #222;
    border: 1px solid #101010;
}

.rounded-circle-8 {
    background-color: #fff;
    border: 1px solid #ededed;
}

/* Search Heard */
.input-group-custom {
	width: 250px;
}

.input-group-custom button{
	margin-top: 0px;
}